# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm
#.npmrc
/node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.idea
.idea_modules/

#*.js
*.js.map
#*.d.ts
#!/types/*.d.ts

/dist
